{{#if disaster}}
  <section id="details-info">
    <h1>Details</h1>
    <div class="image">
      <img src="{{disaster.image}}" />
    </div>
    <div class="info">
      <div class="text">
        <h1 id="name">{{disaster.name}}</h1>
        <h3 id="location">Location: {{disaster.location}}</h3>
        <p id="type">Type: {{disaster.type}}</p>
        <p id="year"><span>Year of the Event: {{disaster.year}}</span></p>
        <p id="interested">Interested: {{disaster.interestedList.length}}</p>
        <p id="description">{{disaster.description}}</p>
      </div>
      <div class="product-btn">
        {{#if isCreator}}
          <div class="author">
            <a href="/disaster/{{disaster._id}}/edit" class="btn-edit">Edit</a>
            <a
              href="/disaster/{{disaster._id}}/delete"
              class="btn-delete"
            >Delete</a>
          </div>
        {{else if isGuest}}{{else}}
          {{#if isInterested}}
            <p class="interested-message">You've already been interested in this
              event!</p>
          {{else}}
            <a
              href="/interested/{{disaster._id}}"
              class="btn-interested"
            >Interested</a>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </section>
{{else}}
  <p>No disaster details found!</p>
{{/if}}