@using System.Globalization

@using DeskMarket.Common.Extensions
@using DeskMarket.Services.Product
@using DeskMarket.Services.Product.Models

@inject IProductService productService

@model IEnumerable<ProductServiceModel>

@{
    this.ViewData["Title"] = "Products List";
    var userId = this.User.GetId();
    var userIsLogged = this.User?.Identity?.IsAuthenticated ?? false;
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h2>@this.ViewData["Title"]</h2>
    @if (userIsLogged)
    {
        <a asp-controller="Product" asp-action="Add" class="btn btn-primary"><i class="fas fa-plus"></i>Add Product</a>
    }
</div>
<hr />

<div class="row text-center">
    @foreach (var product in Model)
    {
        var isSeller = userId != null ? product.SellerId == userId : false;
        var hasBought = userId != null ? await this.productService.ProductAlreadyAddedAsync(userId, product.Id) : false;

        <div class="col-md-3 mb-4">
            <div class="card h-100" style="width: 100%;">
                @if (!string.IsNullOrEmpty(product.ImageUrl))
                {
                    <img src="@product.ImageUrl" class="card-img-top" style="max-height: 150px; object-fit: contain;" alt="@product.ProductName">
                }
                else
                {
                    <img src="~/img/no-image-available-02.jpg" class="card-img-top" style="max-height: 150px; object-fit: contain;" alt="No Image Available">
                }

                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">@product.ProductName</h5>
                    <p class="card-text">Price: @product.Price.ToString("C", CultureInfo.CreateSpecificCulture("fr-FR"))</p>
                    <div class="d-flex justify-content-between mt-auto">
                        @if (userIsLogged && !isSeller && !hasBought)
                        {
                            <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="btn btn-info me-2 w-50">Details</a>
                            <form asp-controller="Product" asp-action="AddToCart" method="post" class="w-50">
                                <input type="hidden" name="id" value="@product.Id" />
                                <button type="submit" class="btn btn-success w-100">Buy</button>
                            </form>
                        }
                        else
                        {
                            <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="btn btn-info w-100">Details</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>